//main: _modules.scss

@mixin resize-text($h1, $h2, $h3, $body) {
  h1 {
    font-size: $h1;
  }

  h2 {
    font-size: $h2;
  }

  h3 {
    font-size: $h3;
  }

  body {
    font-size: $body;
  }
}

@mixin triforcify($size) {
  font-family: "Candal";
  font-weight: normal;
  font-size: $size;
  margin: 0;
}
