//main: _modules.scss

@import url('https://fonts.googleapis.com/css?family=Candal');

$bg: #bfbfbf;
$primary: #00e673;
$secondary: #1aff8c;
$tertiary: #4ABA91;
$font: #D4CE46;

@font-face {
  font-family: "Triforce";
  src: url('../font/Triforce.eot');
  src: url('../font/Triforce.ttf');
}
