//main: _modules.scss

@import url('https://fonts.googleapis.com/css?family=Oswald');

$header_font: "Oswald";

$primary_color: #1D811D;
$secondary_color: #359935;
$tertiary_color: #5FBA5F;
$font_color: #000000;
